input {
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #808080;
  background-color: #fff;
  color: #2e2f42;
  font-size: 16px;
  margin-right: 8px;
  margin-top: 30px;
  width: 272px;
  height: 40px;
}

.timer-btn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  width: 75px;
  height: 40px;
  border: none;
}

.timer-btn:hover {
  background-color: #6c8cff;
  color: #fff;
}
button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

button:disabled:hover {
  background-color: #cfcfcf;
}

.timer {
  display: flex;
  column-gap: 27px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.6px;
}
